.red {
  border: 2px solid #FF0000; }

.yellow {
  border: 2px solid #FFFF00; }

.green {
  border: 2px solid #00FF00; }

.blue {
  border: 2px solid #0000FF; }

.turquoise {
  border: 2px solid #40e0d0; }
.FINISHED {
  background-color: red;
  display: none
}
.TIMED {
  background-color: yellow
}
.SCHEDULED {
  background-color: green
}
.POSTPONED{
  background-color: grey
}