$color: var(--color1);

.main-form {
  display: flex;

  .main-form-options {
    border: 1px solid var(--color1);
    height: 10vh;
    padding: 0 17px;
    font-size: 1.2rem;
    margin-top: 5% ;
  }

  .main-form-input {
    border: 1px solid var(--color1);
    height: 5vh;
    padding: 0 17px;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5%;
  }
  .main-form-btn {
    width: 50%;
    margin: 5% 2%;
    font-size: 1.5rem;
  }
}

.main-banner {
  list-style: none;
  display: flex;

  .main-banner-el {
    display: flex;
    font-size: 0.8rem;
    width: 90%;
    height: 80%;
    background-color: #eef2f9;
    border: 1px solid var(--color1);
    &:hover {
      background-color: lighten(#b2c5fa, 4%);
      border: 1px solid var(--color1);
    }
    .main-banner-el-title{

    }
    .main-banner-el-section {
      display: flex;
      .main-banner-btn{
        font-size: 1rem;
      }
    }
    .main-banner-el-footer{
      display: flex;
    }
  }
}
  .main-form-prev,
  .main-form-next{
    background: transparent;
    border:0;
    color: #00134d;
    transition: 0.5s color;
    cursor:pointer;
  }
@media screen and (max-width: 425px) {
  .main-form {
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    .main-form-input {
      height: 5vh;
      padding: 5px 17px;
      width: 80%;
      margin-top: 5%;
    }
    .main-form-btn {
      width: 30%;
      margin: 1% 1%;
      font-size: 1.5rem;
    }
  }

  .main-banner {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 80%;
    .main-banner-el {
      padding: 1%;
      font-size: 0.8rem;
      width: 100%;
      height: 80%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      }
      .main-banner-el-title{

      }
      .main-banner-el-section{
        justify-content: space-between;
        width: 100%;
        .main-banner-btn{
          font-size: 1rem;
        }
      }
      .main-banner-el-footer{
        justify-content: space-between;
        width: 100%;
      }
    }
  }
@media screen and (min-width: 426px) and (max-width: 840px) {
  .main-form {
    flex-direction: column;
    align-items: center;
    margin-top: 5%;



    .main-form-input {
      height: 5vh;
      padding: 5px 17px;
      width: 80%;
      font-size: 1.2rem;
      margin-top: 5%;
    }
    .main-form-btn {
      width: 30%;
      margin: 1% 1%;
      font-size: 1.5rem;
    }
  }

  .main-banner {
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    .main-banner-el {
      padding: 1%;
      font-size: 0.8rem;
      width: 45%;
      height: 80%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .main-banner-el-title{

    }
    .main-banner-el-section{
      justify-content: space-between;
      width: 100%;
      .main-banner-btn{
        font-size: 1rem;
      }
    }
    .main-banner-el-footer{
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media screen and (min-width: 841px) {
  .main-form {
    flex-direction: column;
    align-items: center ;
    margin-top: 5%;
    flex-grow: 2;


    .main-form-input {
      height: 5vh;
      padding: 5px 17px;
      width: 80%;
      font-size: 1.2rem;
      transition: 0.5s all;
      margin-top: 5%;
    }
    .main-form-btn {
      width: 30%;
      margin: 1% 1%;
      font-size: 1.5rem;
    }
  }

  .main-banner {
    margin-top: 1%;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50vw;
    flex-grow: 1;
    .main-banner-el {
      flex-direction: column;
      justify-content: flex-start;
      margin: 1%;
      font-size: 0.8rem;
      width: 30%;
      height: 30%;
      background-color: rgba(236, 241, 248, 0.58);
      &:hover {
        background-color: darken(rgba(236, 241, 248, 0.58), 8%);
        border: 1px solid var(--color1);
        box-shadow: white;
        width: 30%;
        height: 30%;
        .main-banner-el-title{

        }
        .main-banner-el-section{
          background-color: darken(rgb(255, 255, 255), 8%);
        }
      }
      .main-banner-el-title{
        font-size: 1rem;
        padding-bottom: 10px;
      }
      .main-banner-el-section {
        background-color: rgb(255, 255, 255);
      }
      .main-banner-el-icon{
        width: 50%;
        height: 50%;
      }
      .main-banner-btn{
        align-self: flex-end;
        font-size: 1rem;
      }
      .main-banner-el-footer{
        justify-content: space-between;
      }
    }
  }
}