$color: var(--color1);

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-top: 5%;

  .main-form-options {
    border: 1px solid var(--color1);
    height: 10vh;
    padding: 0 17px;
    font-size: 1.2rem;
    margin-top: 5% ;
  }

  .main-form-input {
    border: 1px solid var(--color1);
    height: 5vh;
    padding: 0 17px;
    width: 80%;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    transition: 0.5s all;
    margin-top: 5%;
  }
  .main-form-btn {
    width: 50%;
    margin: 5% 2%;
    font-size: 1.5rem;
  }
}

.main-banner {
  margin-top: 5%;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--color2);
  align-items: center;
  .main-banner-el {
    padding: 1%;
    font-size: 0.8rem;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border: 1px solid var(--color1);
    &:hover {
      background-color: lighten(#b2c5fa, 4%);
      border: 1px solid var(--color1);
      width: 90%;
      height: 90%;

      transition: width 0.5s, height 0.5s ;
    }
    .main-banner-btn{
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 380px) {
  .main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;


    .main-form-input {
      height: 5vh;
      padding: 5px 17px;
      width: 80%;
      font-size: 1.2rem;
      transition: 0.5s all;
      margin-top: 5%;
    }
    .main-form-btn {
      width: 30%;
      margin: 1% 1%;
      font-size: 1.5rem;
    }
  }

  .main-banner {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-banner-el {
      padding: 1%;
      font-size: 0.8rem;
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .main-banner-btn{
        font-size: 1rem;
      }
    }
  }
@media screen and (min-width: 426px) and (max-width: 840px) {
  .main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;


    .main-form-input {
      height: 5vh;
      padding: 5px 17px;
      width: 80%;
      font-size: 1.2rem;
      transition: 0.5s all;
      margin-top: 5%;
    }
    .main-form-btn {
      width: 30%;
      margin: 1% 1%;
      font-size: 1.5rem;
    }
  }

  .main-banner {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-banner-el {
      padding: 1%;
      font-size: 0.8rem;
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-banner-btn{
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 841px) {
  .main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;


    .main-form-input {
      height: 5vh;
      padding: 5px 17px;
      width: 80%;
      font-size: 1.2rem;
      transition: 0.5s all;
      margin-top: 5%;
    }
    .main-form-btn {
      width: 30%;
      margin: 1% 1%;
      font-size: 1.5rem;
    }
  }

  .main-banner {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-banner-el {
      padding: 1%;
      font-size: 0.8rem;
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main-banner-btn{
      font-size: 1rem;
    }
  }
}