@import '_banner.scss';
@import '_footer.scss';
@import '_header.scss';
@import '_slider.scss';

:root {
  --color1: #00134d;
  --color2: #b2c5fa;
}

* {
  margin: 0;
  padding: 0;
  body {
    background: rgba(224, 227, 210, 0.8);
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: var(--color1);
  }
  #app {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vh;
    background-color: #dae3ff;
    height: 90%;
  }
  .btn {
    color: var(--color1);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid var(--color1);
    cursor:pointer;
    padding: 10px 15px;
  }
  .btn:hover{
    background-color: var(--color1);
    color: var(--color2);
  }
  .main {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


