@import '_banner.scss';
@import '_footer.scss';
@import '_header.scss';
@import '_slider.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald|Play');

:root {
  --color1: rgba(69, 101, 246, 0.8);
  --color2: #b0bcff;
  --color3: #92b2df
}

* {
  margin: 0;
  padding: 0;
  body {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #96c93d, #00b09b);
    font-family: 'Oswald','Play', sans-serif;
    font-size: 20px;
    color: var(--color1);
  }
  #app {
    display: flex;
  }
  .container {
    display: flex;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  .btn {
    color: var(--color1);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid var(--color1);
    cursor:pointer;
    padding: 10px 15px;
    &:hover {
    background-color: var(--color1);
    color: var(--color2);
    }
  }
  .main {
    height: 90vh;
    width: 80%;
    display: flex;
  }
}

// RWD

@media screen and (max-width: 380px) {
  #app {
    height: auto;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 381px) and (max-width: 425px) {
  #app {
    height: auto;
    justify-content: space-around;
    align-items: center;
  }
  .container {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 840px) {
  #app {
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .main {
    height: auto;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 841px) {
  #app {
    height: 100vh;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .main {
    height: auto;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}



